@use '../global/' as *;
@use '../layouts/' as *;
@use '../utils/' as *;

body {
  @include Grid(12, 12);
  background: $darkBlue-1;

  header {
    @include Grid(2, 12);
    grid-area: 2/1/5/-1;

    h1 {
      grid-area: 1/1/2/-1;
      justify-self: center;
      align-self: center;
      font: {
        family: 'Poppins-B';
        size: 4rem;
      }
      color: $orange-1;
    }

    p {
      grid-area: 2/1/-1/-1;
      justify-self: center;
      align-self: center;
      text-align: center;
      font-size: 2rem;
      color: $cream-1;
    }
  }

  main {
    @include Grid(8, 12);
    grid-area: 5/1/-1/-1;

    form {
      @include Grid(2, 12);
      grid-area: 1/3/6/-3;

      input {
        border: none;
        outline: none;
        border-radius: .5rem;
        font-size: 1.8rem;
        text-align: center;

        &:focus:not([type="submit"]) {
          border-bottom: solid $orange-1 .5rem;
        }
      }

      #codes {
        grid-area: 1/1/2/-1;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;

        [type="number"] {
          width: 8rem;
          height: 5rem;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }
      }

      [type="submit"] {
        grid-area: 2/1/-1/-1;
        justify-self: center;
        align-self: start;
        width: 40%;
        height: 30%;
        background: $green-1;
        color: $white;
        cursor: pointer;

        &:hover {
          background: darken($green-1, 10%);
        }
      }
    }
  }
}